
<div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
  <a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">
    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    {% unless product.featured_image == blank %}
      {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
    {% endunless %}

    {% comment %}
      Original codes - #222

      <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js">
        <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
          <img id="{{ img_id }}"
               class="grid-view-item__image lazyload"
               src="{{ product.featured_image | img_url: '300x300' }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ product.featured_image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ product.featured_image.alt | escape }}">
        </div>
      </div>
    {% endcomment %}
   
    <div class="grid-view-item__image-wrapper js" data-mh="mh-grid-image">
        <img class="grid-view-item__image lazyload"
             src="{{ product.featured_image | img_url: '150x' }}"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{ product.featured_image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ product.featured_image.alt | escape }}">
    </div>

    <noscript>
      {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
      <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
    </noscript>

    <div class="grid-details-info" data-mh="mh-grid-details-info">
      <div class="h4 grid-view-item__title">{{ product.title }}</div>
      {% if section.settings.show_vendor %}
        <div class="grid-view-item__vendor" >{{ product.vendor }}</div>
      {% endif %}
      <div class="grid-view-item__meta" >
        {% include 'product-price' %}
      </div>
      <div class="grid-view-item__type">
        {{ product.type }}
      </div>
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}" data-mh="mh-grid-review"></span>
    </div>
  </a>

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {% if product.variants.size > 1 %}
    <a href="{{ product.url }}" id="AddToCart" class="btn add-to-cart product-form__cart-submit select_size">
      <span id="AddToCartText-{{ section.id }}">
        {{ 'products.product.select_size' | t }}
      </span>
    </a>
  {% else %}
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ current_variant.id }}" />
      <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
      <button type="submit" name="add" id="AddToCart" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn add-to-cart product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
        <span id="AddToCartText-{{ section.id }}">
          {% unless current_variant.available %}
            {{ 'products.product.sold_out' | t }}
          {% else %}
            {{ 'products.product.buy_now' | t }}
          {% endunless %}
        </span>
      </button>
    </form>
  {% endif %}
</div>
