{% comment %}
** Social feeds (Instagram and Twitter) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

    {% for block in section.blocks %}
      {% if block.type == 'instagram' %}

      <div class="social-feeds-wrap">
        <div class="section clearfix homepage_content">

          <div class="" {{ block.shopify_attributes }}>
            
            {% if block.settings.instagram_title != blank %}
            <h2 class="title insta {% if forloop.length == 1 %}center{% endif %}">
              {% if settings.instagram_link != blank %}
                <a href="{{ settings.instagram_link }}" target="_blank">
              {% endif %}
              {{ block.settings.instagram_title }}
              {% if settings.instagram_link != blank %}
                </a>
              {% endif %}
            </h2>
              <div class="feature_divider"></div>
            {% endif %}

            {% if block.settings.instagram_client_id != blank %}
              <div id="instafeed" class="js-instafeed grid--no-gutters" data-client-id="{{ block.settings.instagram_client_id | strip }}" data-count="{{ block.settings.instagram_count }}"></div>
            {% else %}
              <div id="instafeed" class="clearfix placeholder-instagram">
                {% for i in (1..block.settings.instagram_count) %}
                  <div class="three columns">
                    <a href="#">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--instagram' }}
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}

{% schema %}
{
  "name": "Social feeds",
  "class": "social-feeds-section",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "instagram",
      "name": "Instagram feed",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "instagram_client_id",
          "label": "Instagram Access Token ([?](https:\/\/outofthesandbox.com\/pages\/instagram-access-token))"
        },
        {
          "type": "text",
          "id": "instagram_title",
          "label": "Heading",
          "default": "Instagram"
        },
        {
          "type": "range",
          "id": "instagram_count",
          "label": "Number of images",
          "min": 2,
          "max": 12,
          "step": 2,
          "default": 6
        }
      ]
    }
  ],
  "presets": [{
    "name": "Social feeds",
    "category": "Social",
    "blocks": [
      {
        "type": "instagram",
        "settings": {
          "instagram_title": "Instagram"
        }
      }]
    }]

}
{% endschema %}
